body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../IMG/fundo\ potfolio\ biel.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    color:#fff
}
header {
    opacity: 0.5;
    color: #fff;
    margin: 1rem 0;
    padding: 2rem;
    text-align: left;
}
div {
    padding: 2rem;
    margin: 1rem 0;
    opacity: 0.5;
    border-radius: 8px;}
    
footer {
    text-align: center;
    padding: 1rem 0;
    opacity: 0.5;
    color: #fff;
    
}
p {
    line-height: 30px;
    max-width: 700px;
    color:#fff;
    
}
.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}
#social a {
    color: #fff;
}
a {
    color:#fff;
}
footer p {
   
    margin: 0;
}